.main-container {
  position: relative;
  background: url("https://images.unsplash.com/photo-1503256207526-0d5d80fa2f47") no-repeat center center;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}
@media (min-width: 769px) {
  .main-container {
    background-position: center 30%;
  }
}

@media (max-width: 768px) {
  .main-container {
    background-attachment: scroll;
    background-position: center top;
  }
}

.main-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.main-container > * {
  position: relative;
  z-index: 2;
}


.main-container > a {
  text-decoration: none;
  transition: 5s ease-in-out;
}

.main-title {
  letter-spacing: 0.75vw;
  width: fit-content;
  color: #268bff;
  transition: 0.5s ease;
}

.main-title h1 {
  font-size: 2.5vw;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.main-title h2 {
  font-size: 1.5vw;
  padding: 0.5em;
  margin: 0 auto;
  opacity: 0;
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  -webkit-animation-delay: 1s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 768px) {
  .main-container > a {
    margin-top: -5em;
  }

  .main-title {
    width: 95vw;
  }

  .main-title h1 {
    margin-bottom: 3vw;
    font-size: 7vw;
  }

  .main-title h2 {
    font-size: 3.5vw;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
